.item {
    width: 300px;
}

.item img {
    width: 300px;
}

.item p {
    margin: 6px 0px;
}

.item-prices {
    display: flex;
    gap: 20px;
}

.item-price-new {
    color: #374151;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    transition: 0.6s;
}

@media(max-width: 1280px) {
    .item {
        width: 250px;
        font-size: 14px;
    }

    .item img {
        width: 250px;
    }

    .item p {
        font-size: 14px;
    }

    .item-price-old {
        font-size: 14px;
    }

    .item-price-new {
        font-size: 14px;
    }
}

@media(max-width: 1024px) {
    .item {
        width: 200px;
        font-size: 13px;
    }

    .item img {
        width: 200px;
    }

    .item p {
        font-size: 13px;
    }

    .item-price-old {
        font-size: 13px;
    }

    .item-price-new {
        font-size: 13px;
    }
}

@media(max-width: 800px) {
    .item {
        width: 250px;
        margin-bottom: 40px;
    }

    .item img {
        width: 250px;
    }

    .item p {
        font-size: 12px;
    }

    .item-price-old {
        font-size: 12px;
    }

    .item-price-new {
        font-size: 12px;
    }
}

@media(max-width: 500px) {
    .item {
        width: 300px;
        margin-bottom: 20px;
    }

    .item img {
        width: 300px;
    }

    .item p {
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-prices {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-price-old {
        font-size: 14px;
    }

    .item-price-new {
        font-size: 14px;
    }
}