.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p {
    color: #171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #8ba888;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button {
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #7a7a7a;
    color: #515151;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}

.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: #8ba888;
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger.open .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;

    }

    .nav-logo {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    }

    .nav-menu {
        gap: 30px;
        font-size: 16px;
    }

    .nav-login-cart {
        gap: 30px;

    }

    .nav-login-cart button {
        width: 120px;
        height: 45px;
        font-size: 16px;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 12px;
    }
}

@media(max-width: 1024px) {
    .navbar {
        padding: 12px 20px;
    }

    /* 
    .nav-logo {
        width: 40px;
    }

    .nav-logo p {
        font-size: 25px;
    } */

    .nav-menu {
        gap: 25px;
        font-size: 14px;
    }

    .nav-login-cart img {
        width: 30px;
    }

    .nav-login-cart button {
        width: 80px;
        height: 35px;
        font-size: 14px;
    }

    .nav-cart-count {
        width: 18px;
        height: 18px;
    }
}

@media(max-width: 768px) {

    .navbar {
        display: flex;
        position: relative;
        padding: 20px;
        box-shadow: none;
    }

    .nav-logo {
        position: absolute;
        display: flex;
        align-items: center;
        left: 30px;
    }

    .nav-logo img {
        height: 50px;
    }

    .nav-logo p {
        font-size: 20px;
        text-align: center;
    }

    .nav-menu {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 20px;
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 30px;
    }

    .nav-menu-container {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: white;
        border-top: 1px solid #ccc;
        padding: 1rem;
    }

    .nav-menu-container.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;
        padding: 30px;
        margin-top: 10px;
    }

    .nav-menu {
        flex-direction: column;
        list-style: none;
        padding: 0;
    }

    .nav-menu li {
        margin: 1rem 0;
        display: block;
    }

    .nav-login-cart {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
    }

    .nav-cart-count {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 14px;
        background: #8ba888;
        color: white;
        position: absolute;
        top: -10px;
        right: 0;
    }
}